@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,800;0,900;1,500;1,600;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.main_container {
    max-width: 1920px;
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-image: url(../img/fon.svg);
    background-repeat: no-repeat;
    background-position: top;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

main {
    height: 1006px;
}

.container {
    max-width: 1155px;
    margin: 0 auto;
}

.currents {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 14px;
    max-width: 1155px;
    padding-top: 9px;
    margin: 0;
}

.currents_info {
    max-width: 642px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.language {
    width: 91px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    list-style: none;
    margin: 0;
    padding: 9px 0px 8px 0px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

header hr {
    margin: 0;
    border: 1px solid rgba(244, 244, 249, 0.5);
}

.logo {
    width: 41px;
    height: 41px;
    background-image: url(../img/logo.svg);
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 11px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 39px;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    align-items: center;  
}

.nav_menu li {
    padding-left: 7px;
}

.main_href {
    border-bottom: 2px solid #ffffff;
}

nav h2 {
    padding-left: 13px;
}

.logo_name {
    margin-right: 61px;
}

.bt_btc {
    width: 105px;
    height: 35px;
    margin-right: 57px;
    margin-left: 66px;
    border: 1.5px solid #FFFFFF;
    border-radius: 5px;
    background: content-box;
    color: #FFFFFF;
    cursor: pointer;
    background-image: url(../img/btc.svg);
    background-repeat: no-repeat;
    background-position: 10px;
}

.bt_user {
    width: 157px;
    height: 35px;
    background: #FFFFFF;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background-image: url(../img/user_img.svg);
    background-repeat: no-repeat;
    background-position: 21px;
    font-size: 14px;
    line-height: 17px;
    color: #5639B7;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%/12*10);
}

.logo_container {
    display: flex;
    align-items: center;
    width: calc(100%/12*2);
}

/* Section Hero --- Section Hero --- Section Hero */

.hero > .container {
    position: relative;
    margin-top: 135px;
}

.hero > .container > h3 {
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    max-width: 500px;
}

.hero > .container > h5 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    font-weight: 400;
    max-width: 600px;
}

.hero > .container > img {
    position: absolute;
    top: -86px;
    right: -71px;
}

.registration {
    width: 223px;
    height: 42px;
    background: #ffffff;
    border: 1.5px solid #FFFFFF;
    border-radius: 21px;
    cursor: pointer;
    margin-top: 2px;
}

.line1 {
    display: flex;
    justify-content: center;
    margin-top: 132px;
}

.line {
    background-image: url("../img/line.svg");
    width: 105px;
    height: 2px;
}

/* --- Section "main_info_cripto" --- */

.main_cripto {
    margin-top: -81px;
    margin-bottom: 81px;
}

.main_cripto > .container {
    display: grid;
    grid-template-columns: 346px 346px 346px;
    grid-template-rows: 436px;
    justify-content: space-between;
}

.bitcoin .a {
    background-image: url(../img/btc2.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.litecoin .a {
    background-image: url(../img/ltc2.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.dash .a {
    background-image: url(../img/dash2.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.cripto_grid {
    display: grid;
    grid-template-columns: 160px 138px;
    grid-template-rows: 70px 60px 60px 60px;
    grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f f";
}

.a {
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.d {
    grid-area: d;
}
.e {
    grid-area: e;
}
.f {
    grid-area: f;
}

.main_cripto h3 {
    margin-left: 45px;
    margin-top: 20px;
    color: #333333;
    font-size: 25px;
    line-height: 31px;
}

.main_cripto p {
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    margin-bottom: 3px;
    margin-top: 0px;
}

.main_cripto span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #333333;
}

.main_cripto a {
    color: #2F80ED;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
}

.main_cripto .arrow {
    background-image: url(../img/arrow_blue.svg);
    background-repeat: no-repeat;
    background-position: right;
    width: 160px;
    margin-bottom: 26px;
}

.main_cripto button {
    width: 276px;
    height: 42px;
    border-radius: 5px;
    margin-bottom: 11px;
}

.start {
    background: linear-gradient(58.78deg, #2A1C75 -599.37%, #5639B7 81.13%);
    border: 0px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    cursor: pointer;
}

.rewiew {
    color: #5639B7;
    border: 1px solid #5639B7;
    font-weight: 600;
    cursor: pointer;
}


.bitcoin, .litecoin, .dash {
    background: #FFFFFF;
    box-shadow: 0px 0px 35px #D5D5E3;
    border-radius: 5px;
    padding: 10px 35px;
}

/* --- Section "main_news" --- */

.main_news {
    margin-bottom: 54px;
}

.advertisement, .news, .actions {
    background: #FFFFFF;
    box-shadow: 0px 0px 35px #D5D5E3;
    border-radius: 5px;
    padding: 8px 20px;
}

.main_news > .container {
    display: grid;
    grid-template-columns: 346px 346px 346px;
    grid-template-rows: 324px;
    justify-content: space-between;
}

.news_header {
    max-width: 1155px;
    margin: 0 auto;
    margin-bottom: 37px;
}

.news_header h3 {
    color: #333333;
    font-size: 28px;
    line-height: 36px;
}

.news_header hr, .hr_blue_line {
    margin: 0;
    border: 1px solid #CCD4DC;
    background-color: #CCD4DC;
}

.blue_line {
    width: 346px;
    height: 5px;
    background: linear-gradient(58.78deg, #2A1C75 -599.37%, #5639B7 81.13%), #C4C4C4;
    border-radius: 3px;
    margin-top: -4px;
}

.advertisement h3, .news h3, .actions h3 {
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.02em;
}

.advertisement h3 {
    color: #449ED1;
}

.news h3 {
    color: #EB5757;
}

.actions h3 {
    color: #E8B92A;
}

.advertisement h2, .news h2, .actions h2 {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.05em;
    color: #333333;
    margin-top: 0px;
}

.advertisement p, .news p, .actions p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #333333;
}

.advertisement span, .news span, .actions span {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #AFAFAF;
}

.height_grid_news {
    min-height: 267px;
}

/*   ---   Section "tweets"   ---   */

.tweets_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1155px;
    margin: 0 auto;
    margin-bottom: -7px;
}

.tweets_header h3 {
    color: #333333;
    font-size: 28px;
    line-height: 36px;
}

.bt_read {
    width: 107px;
    height: 38px;
    border-radius: 21px;
    border: 2px solid #5639B7;
    background: border-box;
    color: #5639B7;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    cursor: pointer;
}

.tweets_container {
    max-width: 1155px;
    margin: 0 auto;
    margin-top: 12px;
    display: grid;
    grid-template-columns: 346px 346px 346px;
    grid-template-rows: 324px;
    justify-content: space-between;
}

.tweet_autor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tweet_autor h4 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #2F80ED;
}

.tweet_autor span {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #AFAFAF;
}

.tweet_contents p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #333333;
    margin-top: -6px;
}

.tweet_contents span {
    color:#005DE8;
}

.tweet_1_img, .tweet_2_img, .tweet_3_img {
    width: 346px;
    height: 157px;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(0px 0px 35px #D5D5E3);
    border-radius: 5px;
}

.tweet_1_img {
    background-image: url("../img/tweet1.svg");
}

.tweet_2_img {
    background-image: url("../img/tweet2.svg");
}

.tweet_3_img {
    background-image: url("../img/tweet3.svg");
}

/* --- F-O-O-T-E-R --- */

footer {
    background-color: #FFFFFF;
    height: 123px;
}

.footer_container {
    max-width: 1155px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #333333;
    margin-top: 83px;
    padding-top: 18px;
}


.bt_btc_ft {
    width: 105px;
    height: 35px;
    border: 1.5px solid #CCD4DC;
    border-radius: 5px;
    background: content-box;
    color: #333333;
    cursor: pointer;
    background-image: url(../img/btc.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    margin-left: 21px;
    font-size: 14px;
    line-height: 17px;
    color: #333333;

}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 539px;
    padding-top: 16px;
    padding-bottom: 25px;
}

footer a {
    color: #333333;
    font-size: 13px;
    line-height: 17px;
    font-weight: 600;
} 

.menu_color {
    color: #333333;
    opacity: 0.6;

}

footer span {
    color: #333333;
    opacity: 0.6;
    font-size: 14px;
    line-height: 17px;
}

footer hr {
    border: 1px solid #CCD4DC;
    background-color: #CCD4DC;
}



@media screen and (max-width: 1099px) {

    .language {
        font-size: 19px;
        width: 105px;
    }

    .bt_user {
        height: 42px;
    }
    
    .bt_btc {
        height: 42px;
        margin-left: 60px;
        margin-right: 15px;
    }

    .main_href {
        border: 0px;
    }

    nav ul {
        margin-right: 15px;
    }

    .hero > .container > img {
        position: absolute;
        top: -115px;
        right: 20px;
        width: 350px;
    }

    .hero > .container > h3 {
        font-size: 29px;
    }

    .hero > .container > h5 {
        font-size: 19px;
    }

    .line1 {
        margin-top: 60px;
    }

    /* main-info-cripto MEDIA */

    .cripto_grid {
        display: grid;
        grid-template-columns: 271px 268px;
        grid-template-rows: 70px 60px 60px 60px;
        text-align: center;
        grid-template-areas:
        "a a"
        "b c"
        "d e"
        "f f";
    }

    .main_cripto > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main_cripto h3 {
        font-size: 30px;
    }

    .main_cripto p {
        font-size: 19px;
    }

    .main_cripto span {
        font-size: 25px;
    }

    .main_cripto a {
        font-size: 19px;
    }

    .start, .rewiew {
        font-size: 19px;
    }

    .main_cripto .arrow {
        background-image: url(../img/arrow_blue.svg);
        background-repeat: no-repeat;
        background-position: 385px;
        width: 100%;
        height: 20px;
        margin-bottom: 26px;
        text-align: center;
    }

    .bitcoin, .litecoin, .dash {
        max-width: 550px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bitcoin .a {
        background-position: 190px;
    }
    
    .litecoin .a {
        background-position: 185px;
    }

    .dash .a {
        background-position: 205px;
    }

    /* Section main_news MEDIA */

    .blue_line {
        display: none;
    }

    .news_header h3 {
        font-size: 32px;
    }

    .advertisement h3, .news h3, .actions h3 {
        font-size: 19px;
    }

    .advertisement h2, .news h2, .actions h2 {
        font-size: 29px;
    }

    .advertisement p, .news p, .actions p {
        font-size: 19px;
    }

    .advertisement span, .news span, .actions span {
        font-size: 19px;
    }

    .main_news > .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .advertisement, .news, .actions {
        max-width: 600px;
        margin-bottom: 20px;
    }

    /*   ---   Section "tweets"  MEDIA  ---   */

    .tweets_header h3 {
        font-size: 32px;
    }

    .bt_read {
        height: 42px;
        font-size: 19px;
    }

    .tweet_autor h4 {
        font-size: 17px;
    }

    .tweet_contents p {
        font-size: 17px;
    }

    .tweet_1, .tweet_2, .tweet_3 {
        margin-bottom: 20px;
    }

    .tweets_container {
        grid-template-columns: 346px 346px;
        justify-content: space-around;
    }

    /*   ---   F-O-O-T-E-R   MEDIA   ---   */

    .bt_btc_ft {
        height: 42px;
    }

    footer a {
        font-size: 16px;
    }
}



@media screen and (max-width: 799px) {

    .main_container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .currents_info {
        max-width: 320px;
    }

    .nav_menu {
        width: calc(100%/12*12);
        margin-top: 20px;
    }
    
    .bt_btc {
        margin-left: 0px;
    }

    .hero > .container > img {
        display: none;
    }

    .hero > .container {
        margin-top: 50px;
    }

    .line1 {
        margin-top: 30px;
    }

    /* main-info-cripto MEDIA */


    .cripto_grid {
        grid-template-columns: 190px 180px;
    }

    .bitcoin .a {
        background-position: 115px;
    }
    
    .litecoin .a {
        background-position: 107px;
    }

    .dash .a {
        background-position: 130px;
    }

    /*   ---   Section "tweets"  MEDIA  ---   */

    .hero form {
        display: flex;
        justify-content: center;
    }


    .tweets_container {
        grid-template-columns: 346px;
        justify-content: space-around;
    }

}

@media screen and (max-width: 479px) {
    .currents_info {
        flex-flow: column;
    }

    main {
        height: 100%;
    }

    .nav_menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul {
        margin: 20px 0px;
    }

    .bt_btc {
        margin: 0 auto;
    }

    .main_cripto {
        margin-top: 70px;
    }

    .cripto_grid {
        grid-template-columns: 150px 140px;
    }

    .bitcoin .a {
        background-position: 75px;
    }
    
    .litecoin .a {
        background-position: 65px;
    }

    .dash .a {
        background-position: 85px;
    }

    .main_container {
        background-size: cover;
    }

    .bitcoin, .litecoin, .dash {
        padding: 5px;
    }

}